
table, th, td {
    border: 1px solid black;
}

td {
    text-align: center;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

h1 {
    font-family: 'Monoton', cursive;
    font-size: 500%;
    border: 5px solid rgb(2, 8, 179);
    padding-right:150px;
    padding-left: 150px;
    width: 600px;
    border-radius: 50px;   
    
}

body {
    background-image: url("/images/background.png");
    background-size: cover;
}

.list {
    text-align: center;
    list-style-position:inside;
    border: 5px solid rgb(131, 195, 254);
    padding-right:150px;
    padding-left: 150px;
    width: 300px;
    border-radius: 50px;
    margin-left: 550px;
}

.listitems {
    display: inline-block;
    text-align: left;
}

h2 {
    font-family: 'Monoton', cursive;
    font-size: 200%;
    color: rgb(97, 171, 245);
}

h2 {
    position:relative;
    top:1px;
    display:inline-block;
    margin-top: 30px;
    margin-bottom:20px;
    border-top: 1px solid rgb(97, 171, 245);
    border-bottom:1px solid rgb(97, 171, 245);
}

.trailer {
    text-align: center;
}